! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: autohint
Xft.lcdfilter: lcdlight
! URxvt
URxvt.scrollBar: false
URxvt.loginShell: true
URxvt.font: xft:Monaco for Powerline:size=11
URxvt.letterSpace: -1
URxvt.termName: rxvt-256color
URxvt.underlineURLs: true
URxvt.urlLauncher: chromium
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1 
!URxvt.perl-lib: /home/username/.urxvt/
URxvt.perl-ext: selection,mark-yank-urls,font-size
URxvt.keysym.C-equal: perl:font:increase
URxvt.keysym.C-minus: perl:font:decrease
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
#include ".Xresources.colors"
